.container {
    max-width: 900px;
    margin: 1rem auto 1rem;
    padding: 0 10px;
}

.accordion {
    list-style: none;
}

.accordion_item {
    border-top: 10px solid white;
}

.button[alt^="9"] {
    font-size: 13px;
    background-color: #eefcf1;
    color: #000000;
    text-align: left;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8px;
    cursor: pointer;
    border-left: solid 3px darkgreen;
}


.button[alt^="7"] {
    font-size: 13px;
    background-color: #fcf6ee;
    color: #000000;
    text-align: left;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8px;
    cursor: pointer;
    border-left: solid 3px gold;
}


.button[alt^="6"] {
    font-size: 13px;
    background-color: #fcf0ee;
    color: #000000;
    text-align: left;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8px;
    cursor: pointer;
    border-left: solid 3px plum;
}

button:focus {outline:0;}

.percentage {
    font-size: 15px;
}

.control {
    font-size: 10px;
}

.answer[alt^="9"] {
    background-color: #f7fdf8;
    border-left: solid 3px darkgreen;
    padding: 20px;
    /*justify-content: space-between;*/
}

.answer[alt^="7"] {
    background-color: #fdfbf7;
    border-left: solid 3px gold;
    padding: 20px;
}

.answer[alt^="6"] {
    background-color: #fcf0ee;
    border-left: solid 3px plum;
    padding: 20px;
}


.passfail[alt="PASS"] {
    font-size: 10px;
    font-weight: 200;
    color: green;
}

.passfail[alt="FAIL"] {
    font-size: 10px;
    font-weight: 200;
    color: red;
}

#myTable {
    display: table;
    /*width: 300px;*/
    /* width: 900px; */
    width: 1200px;
}

#myTable > * {
    display: table-cell;
    width: 15%;
}

/* activate toggle */
.accordion_item.active .button[alt^="9"] {
    background-color: #eefcf1;
}

.accordion_item.active .button[alt^="7"] {
    background-color: #fcf6ee;
}

.accordion_item.active .button[alt^="6"] {
    background-color: #fdf8f7;
}

.answer_wrapper {
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
    display: block;
}


/*!* .answer_wrapper.open {*/
/*  height: auto;*/
/*} *!*/
